.ticket-info-comments {
    display: flex;
    flex-direction: row;
}

.comments-box {
    width: 50%;
    margin: 10px;
}

.comments-container {
    height: 20rem;
    width: 100%;
    overflow: scroll;
    padding: 0;
}

input {
    flex: 1;
    width: 100%;
    padding: 5px;
    font-size: medium;
    height: 1.5rem;
    border: 0px solid rgb(171, 171, 171);
    background-color: rgb(255, 255, 255);;
    border-radius: 10px;
    outline: none;
}

form button {
    width: fit-content;
    margin-left: 10px;
    border: 0px solid rgb(161, 159, 159);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(56, 7, 171);
    color: white;

}

button:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

h2 {
    color: gray;
}

@media (max-width: 800px) {
    .ticket-info-comments {
        flex-direction: column;
    }
    .comments-box {
        width: 100%;
    }
}

#coment {
    background-color: rgb(217, 217, 217);
    color: gray
}