.QuizBox {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    width: 712px;
    @media (max-width: 802px) {
        width: 100%;
    }
    height: 393.19px;
    background: linear-gradient(222.94deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);
    border-radius: 34.01px;
}



.icon-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    /* Component 50 */

    /* Frame */
    position: relative;
    color: white;

    width: 25px;
    height: 25px;
    text-align: center;
    margin: 34.01px;
}

.expr-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 2rem;
    @media (max-width: 640px) {
        font-size: 1rem;
    }
    position: relative;
    margin-top: calc(196.595px - 15px - 59.01px - 34.01px);
    font-weight: 80px;
    color: white;
    font-size: 38.26px;
    @media (max-width: 640px) {
        font-size: 19.1px;
    }
    font-weight: 700;
    line-height: 45.91px;
    letter-spacing: 0.02em;
    text-align: center;
}


