@import url('typeface-inter');
.logoBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

nav {
    padding:0 60px;
    margin-bottom: 40px;
}

img {
    width: fit-content;
    object-fit: scale-down;


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;

}

.loginButt {
    /* Frame 1 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    border: 0px;

    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    border-radius: 32px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    
    flex-grow: 0;
    color: #FFFFFF;
    transition: 0.2s;
    font-weight: 400;
font-size: 18px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

a {
    margin: 0 20px;
    /* Flashcard */
    text-align: center;
    width: fit-content;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

    color: #3A3740;

}

a:hover {
    cursor: pointer;
    transform: scale(1.02);
}

img {
    margin-top: 4px;
}

#faq {
    margin-right: 40px;
}