.faq {
    padding: 0 60px;
    margin-top: 90px;
}

* {
    transition: 0.5s;
}

#title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    letter-spacing: 0.005em;

    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.q-box {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #28262C;
}

.faq-card {
    width: 70vw;;
    padding: 0 30px; 
    border: 2px solid #217EEC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #28262C;
    transition: 0.5s;
}

.faq-container {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.up {
    transform: rotate(180deg);

}

.down, .up {
    transition: 0.2s;
}

svg:hover {
    cursor: pointer;

}

.a-box {
    transition: 0.5s;
}

.faq-answer {
    margin-top: 0;
}
