.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}   

h1 {
    text-align: left;
    width: 100%;
}

.logo-butt {
    background-color: #ffffff;
    box-shadow: 0px 0px 31px 0px #08389966;

    border: none;
    height: 80.6px;
    width: 80.6px;
    border-radius: 40.3px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.left {
    gap: 20px;
    display: flex;
    flex-direction: row;  
}

.right {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;  
}

#logo2 {
    margin-top: 6px;
}

#create {
    width: 231px;
height: 34px;


font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */

background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
 
#relations {
    /* Relations and Functions ( Mathematics ) */
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-align: left;

background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



}


