Link {
    color: #192531;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a {
    color: #192531;
}

.main-auth-box {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/abstrack_backhround_blue__generated.jpg');
}

.background {
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #69b9ff;
    height: fit-content;
    width: 20rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    opacity: 0.7;
    /* Add this line to decrease the image opacity */
}


form * {
    margin: 10px 0;
}

.button-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-container button {
    transition: 0.15s;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 50px;
    font-size: 1rem;
    padding: 5px 10px;
    margin-right: 10px;
    width: fit-content;
    cursor: pointer;
}

.button-container div {
    margin: 0;
    height: fit-content;
    width: fit-content;
}

#welcomeMat {
    font-size: 2rem;
    color: rgb(51, 5, 178);
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form div {
    margin: 10 0;
}

.auth-form input {
    height: 2rem;
    width: 100%;
}

.auth-form select {
    height: 2rem;
    width: 105%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.auth-form * {
    opacity: 1;
}

.auth-form h2 {
    border: none;
    color: blue;
}

.errorMsg {
    color: rgb(146, 0, 0);
    margin: 0;
    outline: none;
    width: 100%;
    border: 0px solid transparent;
    margin-bottom: 0;
    opacity: 1;
}