.Slider {
    width: 50%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Slider div {
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-items: center;
}

.main {
    display: flex;
    flex-direction: row;
align-items: center;
    gap: 20px;
}


#pos {
    text-align: center;
}

svg {
    height: fit-content;
}

